/* --- Ajustes generales del navbar --- */
.navbar {
    background-color: #ffffff !important;
    padding: 0.8rem 2rem;
    box-shadow: 0 3px 10px rgba(255, 215, 0, 0.15);
    height: 70px;
}

.logo {
  width: 80px;       /* tamaño base */
}

/* --- Enlaces del navbar --- */
.custom-link {
    color: rgb(74, 74, 74) !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease;
    padding-bottom: 5px;
}

/* Línea dorada animada al hacer hover */
.custom-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

/* Hover */
.custom-link:hover {
    color: rgb(0, 0, 0) !important;
}

.custom-link:hover::after {
    width: 100%;
}

/* Enlace activo */
.active {
    color: rgb(4, 4, 4) !important;
}

/* --- Campo de búsqueda --- */
.form-control {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.form-control::placeholder {
    color: #ccc;
}

.btn-outline-warning {
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}

.btn-outline-warning:hover {
    background-color: rgb(0, 0, 0);
    color: black;
}

