.back {
    background-image: url(/assets/Carousel3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.9);

    border-top: 2px solid crimson;
    box-shadow: 0 -2px 10px rgba(255, 0, 0, 0.3);
    color: white;
    padding: 3%;
}